.diff_container {
	margin-top: 20px;
}
.not_found_container {
  margin-bottom: 20px;
}
.hidden {
	display: none;
}
.danger {
  background-color: red;
}
.alert {
  border: 1px solid red;
}
.diff td{
    padding:0 0.667em;
    vertical-align:top;
    white-space:pre;
    white-space:pre-wrap;
    font-family:Consolas,'Courier New',Courier,monospace;
    font-size:0.75em;
    line-height:1;
  }

.diff span{
  display:block;
  min-height:1em;
  margin-top:-1px;
  padding:0 1px;
}

* html .diff span{
  height:1.333em;
}

.diff span:first-child{
  margin-top:0;
}

.diffDeleted span{
  border:1px solid rgb(255,192,192);
  background:rgb(255,224,224);
}

.diffInserted span{
  border:1px solid rgb(192,255,192);
  background:rgb(224,255,224);
}

#toStringOutput{
  margin:0 1em 1em;
}
span.modified_line {
	border:1px solid rgb(0,120,255);
  background:rgb(140,240,255);
}
span.tailored_line {
	border:1px solid rgb(255,180,0);
  background:rgb(255,220,150);
}