#nav {
	width: 98%;
	height: 25px;
	display: block;
	top: 0px;
	left: 0px;
	margin: 0px;
}
#nav a {
	display: inline-block;
	margin-left: 5px;
	margin-top: 10px;
	border-radius: 3px;
	border: 2px solid gray;
	padding: 5px;
}
#nav a.selected {
	border: 3px solid;
}
#wrapper {
	margin: 0 auto;
}
#notice {
	margin-top: 40px;
}
.notice {
	margin-top: 20px;
	display: block;
}
.hidden {
	display: none;
}
.red {
	border:1px solid rgb(255,192,192);
  	background:rgb(255,224,224);
}
.green {
  border:1px solid rgb(192,255,192);
  background:rgb(224,255,224);
}
.orange {
  border:1px solid rgb(255,180,0);
  background:rgb(255,220,150);
}
.blue {
  border:1px solid rgb(0,120,255);
  background:rgb(140,240,255);
}
.tabbed {
	padding-left: 1em;
	background: rgb(228, 228, 228);
	border-radius: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
}


#tool_container {
	float: left;
}
#toggle_readme {
	position: absolute;
	right: 40px;
    top: 20px;
	z-index: 99;

}
#readme_container {
	position: absolute;
	float: left;
	width: 90%;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	background: #ffffff;
	border-radius: 10px;
	border: solid lightgray;
	opacity: 0.9;
    filter: alpha(opacity=90);
}
#readme_container h1, #readme_container  h2, #readme_container h3 {
	margin-right: -5px;
	margin-bottom: -20px;
	margin-left: 0px;
}
#readme_container  h2:first {
	margin-top: -7px!important;
}
#readme_container  h2, #readme_container h3 {
	margin-top: 50%;
	padding-top: 10px;
}
#readme_container h1
{
	margin-bottom: 10px!important;
}
#readme_container img {
	margin: 15px;
}
#readme_container pre {
	line-height: 10px;
        font-size: 13pt;
}
#readme_container {
	font-size: 15pt;
}
#toc h2 {
	margin-top: 10px;
	margin-bottom: 10px!important;
}
#toc a {
	text-decoration: none;
}
#toc a:before {
	content: "- ";
}
.toc_h1 {
	margin-left: 10px;	
}
.toc_h2 {
	margin-left: 15px;	
	margin-bottom: 10px!important;
	font-weight: bold;
}
.toc_h3 {
	margin-left: 40px;	
	margin-bottom: 10px!important;
}
.toc_h4 {
	margin-left: 60px;	
	margin-bottom: 10px!important;
}

#toc a {
	display: block;
}
