<div class='diff_container' id='{diff_container_id}'>
	{file_message}: <a href='' class='toggle'>{plain_filename}</a>
	{file_controls}
	<span class='notice'></span>
	<span class='caller hidden'>{caller}</span> 
	<span class='current_shop hidden'>{current_shop}</span> 
	<span class='new_filename hidden'>{new_filename}</span> 
	<span class='new_version_file_header_text hidden'>{new_version_file_header_text}</span> 
	<span class='upgrade_cache_new_file hidden'>{upgrade_cache_new_file}</span> 
	<span class='upgrade_cache_new_file_header_text hidden'>{upgrade_cache_new_file_header_text}</span> 
	<span class='base_filename hidden'>{base_filename}</span> 
	<span class='base_version_file_header_text hidden'>{base_version_file_header_text}</span>
	<span class='tailored_filename hidden'>{tailored_filename}</span> 
	<span class='tailored_version_file_header_text hidden'>{tailored_version_file_header_text}</span>
	<span class='upgraded_filename hidden'>{upgraded_filename}</span> 
	<span class='upgraded_version_file_header_text hidden'>{upgraded_version_file_header_text}</span>	
	<span class='plain_filename hidden'>{plain_filename}</span> 
	<span class='plain_folder hidden'>{plain_folder}</span> 
	<span class='errors'>{errors}</span>
	<div>
		{fileByteChanges}
	</div>
	<div class='diff_file hidden'> 
	</div>
</div>